.movie-details {
    /* background-color: rgb(3, 3, 27); */
    background-image: url("./stars.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 1px;
    padding-bottom: 30px;
}

button {
    color: antiquewhite;
}

button:hover {
    color: aqua;
}